{% extends 'basic.html' %}
{% load static %}

{% block content %}
  <div id="breadcrumb" class="clearfix">
        <div class="container">
            <div class="breadcrumb clearfix">
                <ul class="ul-breadcrumb">
                    <li><a href="/" title="Home">Главная</a></li>
                    <li><a href="{% url 'account' %}">Личный кабинет</a></li>
                    <li><span style="color: #fff !important;">Избранные товары</span></li>
                </ul>

            </div>
        </div>
    </div><!-- end breadcrumb -->

     <div  style="margin-bottom: 40px" class="columns-container">
				<!-- container -->
				<div class="container">
					<div id="order-detail-content" class="table_block table-responsive">
						<table id="cart_summary" class="table ">

							<tbody >
                          {% for item in wl %}
								<tr id="wl_{{ item.id }}">
									<td class="cart_delete text-center">
										<a title="Удалить из избранного" class="remove" href="javascript:void(0)" onclick="wishlist_delete({{ item.id }})">
											<i class="fa fa-times"></i>
										</a>
									</td>
									<td class="cart_product">
                                        <a href="{% url 'product' item.item.name_slug %}">
                                            <img src="{{ item.item.itemimage_set.first.image.url }}" alt="{{ item.item.name }}" width="80" height="107" class="img-responsive">
                                        </a>
									</td>
									<td class="cart_description">
										<a href="{% url 'product' item.item.name_slug %}">{{ item.item.name }}</a>
									</td>
                                    <td class="cart_unit text-right">
										 {% if item.item.discount > 0 %}

                                     <div class="price" ><span ><span>{{ item.item.discount_value }} &#8381;</span> <span class="old-price">{{ item.item.price }} &#8381;</span></div>
                                {% else %}
                                     <div class="price" ><span >{{ item.item.price }} &#8381;</span></div>
                                {% endif %}
									</td>



								</tr>
                            {% endfor %}


							</tbody>
						</table>
					</div><!-- end order-detail-content -->

				</div> <!-- end container -->
			</div>


{% endblock %}