<div class="product-container">
													<div class="left-block">
														<div class="">
															<a class="product_img_link" href="{% url 'product' item.name_slug %}" title="{{ item.name }}">
																<img  alt="" class="img-responsive" width="480" height="640"
                                                                           {% for image in item.itemimage_set.all %}
                                                                                {% if image.is_main %}
                                                                                   src="{{ image.image_small }}"
                                                                                {% endif %}
                                                                            {% endfor %} >
															</a>
{#															<span class="label-new label">New</span>#}
{#															<span class="label-sale label">Sale</span>#}
{#															<span class="label-reduction label">-5%</span>#}
                                                        <div class="item-buttons">
                                                        <div style="    border: 1px solid #ffffff; padding: 3px;">
                                                            <a class="ajax_add_to_cart_button item-button-cart" href="javascript:void(0)"
                                                                   id="{{ item.id }}_submit"
                                                                    data-item_id="{{ item.id }}"
                                                                    data-item_name="{{ item.name }}"
                                                                    data-item_price="{{ item.price }}"

                                                                    data-item_image="{{ item.itemimage_set.first.image_small }}"
                                                                    onclick="quick_add_to_cart(this)"  rel="nofollow" title="В корзину">В КОРЗИНУ</a>
                                                        </div>
                                                          <div style="    border: 1px solid #ffffff; padding: 3px;">
                                                                  {% if item.id in wishlist_ids %}
                                                                <a onclick="return false;" data-placement="left" data-original-title="Add to Wishlist"
                                                                   data-toggle="tooltip" class="addToWishlist item-button-wishlist">В ИЗБРАННОМ
                                                                </a>
                                                            {% else %}
                                                                <a onclick="wishlist_add({{ item.id }});return false;" data-placement="left" data-original-title="В закладки" data-toggle="tooltip"
                                                                   class="addToWishlist item-button-wishlist">
                                                                В ИЗБРАННОЕ
                                                                </a>
                                                            {% endif %}

                                                        </div>







                                                        </div>
														</div>

													</div><!--end left block -->
													<div style="margin-top: 20px;" class="right-block">
														<div class="product-box">
															<h5 class="name">
																<a class="product-name" href="{% url 'product' item.name_slug %}" title="{{ item.name }}">
																	{{ item.name }}
																</a>
															</h5>
															<div class="content_price">
                                                                {% if item.discount > 0 %}
                                                                 <span class="old-price product-price">{{ item.price }} &#8381;</span>
                                                                    <span class="price product-price">{{ item.discount_value }} &#8381;</span>
                                                                {% else %}
                                                                    	<span class="price product-price">{{ item.price }} &#8381;</span>
                                                                {% endif %}


															</div>
{#															<div class="product_comments clearfix">#}
{#																<div class="product-rating">#}
{#																	<div class="star_content">#}
{#																		<div class="star star_on"></div>#}
{#																		<div class="star star_on"></div>#}
{#																		<div class="star star_on"></div>#}
{#																		<div class="star star_on"></div>#}
{#																		<div class="star star_on"></div>#}
{#																	</div>#}
{#																</div>#}
{#															</div><!-- end product_comments -->#}
														</div><!-- end product-box -->
													</div><!--end right block -->
												</div><!-- end product-container-->

