{% extends 'basic.html' %}
{% load static %}
{% block content %}
<div id="breadcrumb" class="clearfix">
				<div class="container">
					<div class="breadcrumb clearfix">
						<ul class="ul-breadcrumb">
							<li><a href="/" title="Home">Главная</a></li>
							<li><span style="color: #fff !important;">О нас</span></li>
						</ul>

					</div>
				</div>
			</div><!-- end breadcrumb -->

    <div id="columns" class="columns-container">
    <div class="container">
        <div class="rte">
            <div class="row">
                <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                    <div class="block">
                        <h2 class="block-title">The New Way to advance.</h2>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12"><a href="/#" class="btn-join btn button btn-primary">Join Our Team!</a></div>
            </div>
            <div class="we-are">
                <h2 class="block-title">Who we are</h2>
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p>
                <div class="quote">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat dent.</p>
                </div>
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p>
            </div>
        </div>
        <div class="about-weare">
            <h4 class="block-title">Our team</h4>
            <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-6 col-sp-12">
                    <div class="weare-item">
                        <div class="weare-image">
                            <a><img class="img-responsive" src="/assets/images/team/1.jpg" alt=""></a>
                        </div>
                        <div class="weare-content"><a>Steven Craig</a>
                            <p class="position">CEO &amp; Founder</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-6 col-sp-12">
                    <div class="weare-item">
                        <div class="weare-image">
                            <a><img class="img-responsive" src="/assets/images/team/2.jpg" alt=""></a>
                        </div>
                        <div class="weare-content"><a>Sarah Conor</a>
                            <p class="position">Chief Customer Officer</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-6 col-sp-12">
                    <div class="weare-item">
                        <div class="weare-image">
                            <a><img class="img-responsive" src="/assets/images/team/3.jpg" alt=""></a>
                        </div>
                        <div class="weare-content"><a>Jenifer Lorenwer</a>
                            <p class="position">HR Officer</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-6 col-sp-12">
                    <div class="weare-item">
                        <div class="weare-image">
                            <a><img class="img-responsive" src="/assets/images/team/4.jpg" alt=""></a>
                        </div>
                        <div class="weare-content"><a>Craig Bordon</a>
                            <p class="position">Business Manager</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-6 col-sp-12">
                    <div class="weare-item">
                        <div class="weare-image">
                            <a><img class="img-responsive" src="/assets/images/team/5.jpg" alt=""></a>
                        </div>
                        <div class="weare-content"><a>Kitty</a>
                            <p class="position">Art Director</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-6 col-sp-12">
                    <div class="weare-item">
                        <div class="weare-image">
                            <a><img class="img-responsive" src="/assets/images/team/6.jpg" alt=""></a>
                        </div>
                        <div class="weare-content"><a>Steve Pham</a>
                            <p class="position">Photographer</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-6 col-sp-12">
                    <div class="weare-item">
                        <div class="weare-image">
                            <a><img class="img-responsive" src="/assets/images/team/7.jpg" alt=""></a>
                        </div>
                        <div class="weare-content"><a>Laura</a>
                            <p class="position">Content Manager</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-6 col-sp-12">
                    <div class="weare-item">
                        <div class="weare-image">
                            <a><img class="img-responsive" src="/assets/images/team/8.jpg" alt=""></a>
                        </div>
                        <div class="weare-content"><a>Mirinda</a>
                            <p class="position">Model Creative</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

 {% endblock %}