{% extends 'basic.html' %}
{% load static %}
{% block content %}
<div id="breadcrumb" class="clearfix">
				<div class="container">
					<div class="breadcrumb clearfix">
						<ul class="ul-breadcrumb">
							<li><a href="/" title="Home">Главная</a></li>
                            <li><a href="#" title="Home">Каталог</a></li>
							<li><span>{{ category.name }}</span></li>
						</ul>

					</div>
				</div>
			</div><!-- end breadcrumb -->
    <div class="section section-tabsproduct">
					<div class="container">
                            <div class="block-title">
								<h4 class="title_block">{{ category.name }}</h4>
								<ul class="filter-items">
                                    {% for filter in filters %}
                                         <li><a {% if cur_filter.name_slug == filter.name_slug %} class="filter-active"{% endif %} href="?filter={{ filter.name_slug }}">{{ filter.name }}</a></li>
                                    {% endfor %}
{#                                    <li><a class="filter-active" href="#">фильтр 1</a></li>#}

                                </ul>

							</div>
						<div class="block_content">
										<div class="row">
                                            {% for item in items %}
											<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 col-sp-12">
												{% include 'page/new/_item.html' %}
											</div>
										    {% endfor %}
										</div><!-- end row -->
									</div><!-- end block_content -->
					</div><!-- end container -->
				</div>
    
{% endblock %}