{% extends 'basic.html' %}
{% load static %}
{% block content %}
<div id="breadcrumb" class="clearfix">
				<div class="container">
					<div class="breadcrumb clearfix">
						<ul class="ul-breadcrumb">
							<li><a href="/" title="Home">Главная</a></li>
							<li><span style="color: #fff !important;">Доставка</span></li>
						</ul>

					</div>
				</div>
			</div><!-- end breadcrumb -->

    <div id="columns" class="columns-container">
    <div class="container">

    </div>
</div>

 {% endblock %}