{% load static %}
<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie ie8" lang="ru"> <![endif]-->
<!--[if IE 9 ]><html class="ie ie9" lang="ru"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <!--<![endif]-->
<html lang="ru">
	<head>
		<!--by SKIBORG  -->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>ЦВЕТЫ</title>

		<meta name="keywords" content="Responsive HTML Template">
		<meta name="description" content="Scara Responsive HTML Template">
		<meta name="author" content="tivatheme">

		<!-- Favicon -->
		<link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">

		<!-- Mobile Meta -->
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

		<!-- Google Fonts -->
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" rel="stylesheet">

		<!-- Vendor CSS -->
		<link rel="stylesheet" href="{% static '/new_static/css/bootstrap-theme.css' %}">
		<link rel="stylesheet" href="{% static '/new_static/css/font-awesome.min.css' %}">
		<link rel="stylesheet" href="{% static '/new_static/css/material-design-iconic-font.min.css' %}">
		<link rel="stylesheet" href="{% static '/new_static/css/owl.carousel.css' %}">
		<link rel="stylesheet" href="{% static '/new_static/css/magnific-popup.css' %}">

		<link rel="stylesheet" href="{% static '/new_static/css/nivo-slider.css' %}">
        <link rel="stylesheet" href="{% static '/new_static/css/amaran.min.css' %}">
		<link rel="stylesheet" href="{% static '/new_static/css/animate.min.css' %}">
		<link rel="stylesheet" href="{% static '/new_static/css/style.css' %}">

		<link rel="stylesheet" href="{% static '/new_static/css/jslider.css' %}">

		<!-- Template CSS -->

		<link rel="stylesheet" href="{% static '/new_static/css/theme-animate.css' %}">
		<link rel="stylesheet" href="{% static '/new_static/css/theme-product.css' %}">
		<link rel="stylesheet" href="{% static '/new_static/css/theme-product-list.css' %}">
		<link rel="stylesheet" href="{% static '/new_static/css/theme-blog.css' %}">
		<link rel="stylesheet" href="{% static '/new_static/css/theme-responsive.css' %}">
        <link rel="stylesheet" href="{% static '/new_static/css/theme-global.css' %}">
		<!-- Template Custom CSS -->
        <link rel="stylesheet" href="{% static '/new_static/css/custom.css' %}">
		<link rel="stylesheet" href="{% static 'css/showLoading.css' %}">
        <link rel="stylesheet" href="{% static '/new_static/css/hoverbox.css' %}">
	</head>
	<body class="index home-1">
     <form id="dummy_form">{% csrf_token %}</form>
		<div id="all">
	{% include 'header.html' %}
    {% block content %}
            {% endblock %}
        </div>
		{% include 'footer.html' %}
		<!-- Vendor JS -->
		<script src="{% static '/new_static/js/jquery.min.js' %}"></script>
		<script src="{% static '/new_static/js/owl.carousel.min.js' %}"></script>
		<script src="{% static 'new_static/js/jquery.magnific-popup.js' %}"></script>
		<script src="{% static '/new_static/js/bootstrap.min.js' %}"></script>





		<script src="{% static '/new_static/js/tmpl.js' %}"></script>
		<script src="{% static '/new_static/js/jquery.dependClass-0.1.js' %}"></script>
		<script src="{% static '/new_static/js/draggable-0.1.js' %}"></script>
		<script src="{% static '/new_static/js/jquery.slider.js' %}"></script>



		<!-- Template Base, Components and Settings -->
		<script src="{% static '/new_static/js/theme.js' %}"></script>
            <script src="{% static 'new_static/js/jquery.nivo.slider.js' %}"></script>
		<!-- Template Custom -->
		 <script src="{% static 'js/quick_view.js'%}"></script>
            <script src="{% static 'js/jquery.amaran.min.js'%}"></script>
            <script src="{% static 'js/jquery.showLoading.min.js'%}"></script>
{#          <script src="{% static 'new_static/js/custom.js'%}"></script>#}
            <script src="{% static 'js/add_to_cart.js'%}"></script>
            <script src="{% static 'js/delete_from_cart.js'%}"></script>
            <script src="{% static 'js/delete_from_main_cart.js'%}"></script>
            <script src="{% static 'js/promo.js'%}"></script>
            <script src="{% static 'js/cart.js'%}"></script>
            <script src="{% static 'js/sort.js'%}"></script>
            <script src="{% static 'js/jquery.zoom.js'%}"></script>
            <script src="{% static 'js/login.js'%}"></script>
            <script src="{% static 'js/wishlist.js'%}"></script>
    {% block js %}
        {% endblock %}
	</body>
</html>